<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/css-site/style.css">
    <link rel="stylesheet" href="/css/css-site/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>LOGIN</title>
</head>
<body>
    
    <%- include('../layout/header') %>

     <!-- LOGIN -->
    <section class="login">
        <div class="bg-login"></div>
       <div class="box-login">
            <div class="title-login">
                <h3>Login</h3>
            </div>

            <!-- Xử lý form trước khi submit -->
            <%
                let errEmail, errPassword;

                if(typeof errors !== "undefined") {
                    errEmail = errors.email;
                    errPassword = errors.password;
            } %>
            <div class="body-login">
                <form action="" method="post" class="login-form">
                    <div class="form-group">
                        <span class="icon"><i class="fa-sharp fa-solid fa-paper-plane"></i></span>
                        <input class="form-control" type="email" placeholder="Email" name="email">
                        <span class="err-input"><%= errEmail %></span>
                    </div>
                    <div class="form-group">
                        <span class="icon"><i class="fa-sharp fa-solid fa-lock"></i></span>
                        <input class="form-control" type="password" placeholder="Password" name="password">
                        <span class="err-input"><%= errPassword %></span>
                    </div>
                    <div class="btn">
                        <button type="submit" class="btn-login">Login</button>
                    </div>
                </form>
            </div>
       </div>
    </section>

    <%- include('../layout/footer') %>
</body>
</html>