.register {
    width: 1170px;
    margin: auto;
}

.bg-register {
    width: 1170px;
    position: absolute;
    height: 100%;
    background: url(http://www.theme-oxygen.com/envato/evobook/preview/html/images/book-drawing.jpg) no-repeat top left;
    opacity: 0.2;
}

.box-register {
    position: relative;
    background-color: #fff;
    width: 50%;
    margin: auto;
    padding: 40px 25px 30px 25px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.title-register > h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1px solid rgb(202, 199, 199);
    padding-bottom: 5px;
}

.body-register {
    padding: 20px 10px;
}

.form-group {
    display: table;
    margin-top: 35px;
    width: 100%;
}

.icon {
    background-color: #6f9a37;
    color: #fff;
    padding: 10px 15px 10px;
}

.form-control {
    height: 34px;
    border: 1px solid #ccc;
    border-width: 0 0 1px;
    padding: 6px 0px 6px 12px;
    outline: none;
    width: 91%;
    font-size: 14px;
}

input[type="file"] {
    font-size: 13px;
}

.form-control:focus {
    border-color: #6f9a37;
}

.err-input {
    font-size: 12px;
    color: red;
    margin-top: 5px;
    display: block;
    margin-left: 48px;
}

.err-register {
    margin-top: 10px;
    display: block;
    font-size: 14px;
    color: red;
}

.btn {
    text-align: right;
}

.btn-register {
    background: #212121;
    border: 1px solid #212121;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    padding: 12px 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.2s linear;
    cursor: pointer;
    margin-top: 30px;
}

.btn-register:hover {
    background: #fff;
    border: 1px solid #212121;
    color: #212121;
}