<!-- TOP HEADER -->
<section class="header">
    <div class="welcome">
        <p>Welcome to Bookstore</p>
    </div>
    <div class="search">
        <div class="input-field">
            <form action="/products/search" method="post">
                <button class="btn-search" ><i class="fa-solid fa-magnifying-glass"></i></button>
                <input class="input-search" type="text" name="search" placeholder="Tìm kiếm">
            </form>
        </div>
    </div>
    <div class="authentication">
        <% if(user) { %>
            <span class="name-user-login">Hello baby: <%= user.fullName%></span>
            <a class="logout" href="/account/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
            <% if(user.typeUser === 1) { %>
                <a href="/admin">Admin</a>
            <% }  %>
        <% } else { %>
            <a href="/account/register" class="link-register">Register</a>
            <a href="/account/login" class="link-login">Login</a>
        <% } %>
    </div>
</section>

<!-- MENU -->
<header>
    <div class="header-menu">
        <div class="logo">
            <a href="/"><h2>Evo<span>Book</span></h2></a>
        </div>
        <div class="main-menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <div class="shopping-cart">
            <!-- <img src="http://www.theme-oxygen.com/envato/evobook/preview/html/images/basket.png" alt="Icon-cart"> -->
        </div>
    </div>
</header>